# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/

# Environment
.env
.env.*
*.env

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log
docker-compose.override.yml

# Alembic
backend/alembic/versions/*.pyc
backend/alembic/versions/__pycache__/

# Test
*.pytest_cache/

# Misc
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Node
node_modules/

# Frontend build
frontend/build/
frontend/dist/

# Personal/Internal Documentation
docs/todo.md
docs/case-study.md
docs/implementation.md
docs/backend/
temp_set_key.sh 